{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" id="menu-stacked">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li  role="presentation"><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                <li  role="presentation"><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
                <li  role="presentation"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li  role="presentation"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                <li  role="presentation"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-9">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}


        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
