{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
    <div class="form-group">
        {{ form_errors(form.email) }}
        <label for="fos_user_registration_form_email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.username) }}
        <label for="fos_user_registration_form_username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            {{ form_widget(form.username) }}
        </div>
    </div>
        
    <div class="form-group">
        <label for="fos_user_registration_form_password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
        
    <div class="form-group">
       
        <label for="fos_user_registration_form_password" class="col-sm-2 control-label">Password Confirmation</label>
        <div class="col-sm-10">
            {{ form_widget(form.plainPassword.second) }}
            <span id="helpBlock2" class="help-block"> {{ form_errors(form.plainPassword.second) }}</span>
        </div>
         
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div> 
{{ form_end(form) }}
