<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
            <link href="{{ asset('public/css/business-casual.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('public/css/main.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block banner %}
            <div class="brand">Blog Creator</div>
            <div class="address-bar">Paris, France</div>
        {% endblock %}
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand" href="index.html">Business Casual</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Accueil<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li  role="presentation"><a href="{{ path("home") }}">Flux d'actualités</a></li>
                                    <li  role="presentation"><a href="{{ path("blog_list") }}">Tous les Blogs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blogs<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li  role="presentation"><a href="{{ path("blog_new") }}">Nouveau</a></li>
                                    <li  role="presentation"><a href="{{ path("blog") }}">Mes blogs</a></li>
                                    <li  role="presentation"><a href="{{ path("blog_favoris") }}">Mes blogs favoris</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li  role="presentation"><a href="{{ path("article_new") }}">Nouveau</a></li>
                                    <li  role="presentation"><a href="{{ path("article") }}">Mes articles</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li  role="presentation"><a href="{{ path("category_new") }}">Nouveau</a></li>
                                    <li  role="presentation"><a href="{{ path("category") }}">Mes catégories</a></li>
                                </ul>
                            </li>
                            <li  role="presentation"><a href="{{ path("comment") }}">Commentaires</a></li>
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li  role="presentation"><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                                    <li  role="presentation"><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
                                    <li  role="presentation"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li  role="presentation"><a href="{{ path("fos_user_security_login") }}">Connexion</a></li>
                            <li  role="presentation"><a href="{{ path("fos_user_registration_register") }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="row">
                    <div class="box">
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            {% block content %}
            <div class="row">
                <div class="box">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('public/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
