.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #5D3D32;
}
#menu-stacked a {
    padding: 15px;
    border: 1px solid rgba(93, 61, 50, 0.18);
}

#menu-stacked a:hover {
    background-color: #5D3D32;
    color: #fff;
}
.nav-pills a {
    color: #777777;
}

.dropdown-menu {
    min-width: 100%;
}

.navbar-nav li {
    text-transform:none;
}

a, a:hover {
    color : #333;
}

.textareaContact.form-control{
	height: 300px;
}
