{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edition Blog</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
