{% extends '::base.html.twig' %}

{% block content %}
    {% for blog in pagination %}
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                        <h2 class="intro-text text-center">
                            <a href="{{ path('blog_show', { 'id': blog.id }) }}" title="">{{ blog.name }}</a>
                            <small><strong>by</strong> 
                            <a href="{{ path('user_profile', { 'id': blog.user.id }) }}" title="">{{ blog.user }}</a></small>
                        </h2>
                    <hr>
                </div>
                {% set compteur = 0 %}
                {% for article in blog.articles %}
                    {% if article is defined %}
                        {% if article.active == '1' and compteur < 3 %}
                            <div class="col-sm-4 text-center">
                                <a href="{{ path('article_show', { 'id': article.id }) }}" title=""><img class="img-responsive" src="{{ asset(article | file) }}" alt=""></a>
                                <a href="{{ path('article_show', { 'id': article.id }) }}" title=""><h3>{{ article.title }}</h3></a>
                            </div>
                            {% set compteur = compteur + 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}                   
                <div class="clearfix"></div>
                <a href="{{ path('blog_follow', { 'id': blog.id }) }}" class="btn btn-default btn-lg">Suivre</a>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="box">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}