{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Blog creation</h1>

   {{form(form)}}
   
        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
