{% extends '::base.html.twig' %}

{% block banner %}
    <div class="brand">{{ entity.name }}</div>
    <div class="address-bar">{{ entity.description }}</div>
{% endblock %}
{% block body -%}
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">{{ entity.name }}
            <strong>blog</strong>
            <p>
                <a href="{{ path('blog_contact', { 'id': entity.user.id }) }}" class="btn btn-default btn-lg">Contact</a>
            </p>
        </h2>
        <hr>
    </div>
    {% for article in entity.articles %}
        {% if article.active == 1 %}
            <div class="col-lg-12 text-center">

                <img class="img-responsive img-border img-full" src="{{ asset(article | file) }}" alt="">
                <h2>{{ article.title }}
                    <br>
                    <small>{{ article.createdAt | date("m/d/Y") }}</small>
                </h2>
                <p>{{ article.description }}</p>
                <a href="{{ path('article_show', { 'id': article.id }) }}" class="btn btn-default btn-lg">Lire +</a>
                <hr>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
