{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EDITION COMMENTAIRE</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comment') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
