{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mes commentaires</h1>
    <table class="records_list table table-bordered table-hover">
        <thead>
            <tr>
                <th>Titre de l'Article</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                {% if entity.active == 1 %}
                    <tr>
                        <td>{{ entity.article.title }}</td>
                        <td>{{ entity.body }}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('comment_edit', { 'id': entity.id }) }}">Modifier</a>
                                </li>
                                <li>
                                    <a href="{{ path('comment_delete', { 'id': entity.id }) }}">Supprimer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
