{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="box">
            <div class="fos_user_user_show">
                <p>Username : {{ user.username }}</p>
                <p>Email : {{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <h3>Blogs</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom de blog</th>
                        <th>Date de creation</th>
                        <th>Nombre d'articles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in user.blog %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <th><a href="{{ path('blog_show', { 'id': blog.id }) }}" title="">{{ blog.name }}</a></th>
                            <th>{{ blog.createdAt | date("d/m/Y") }}</th>
                            <th>{{ blog.articles | length }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
