{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Flux
                    <strong>d'actualités</strong>
                </h2>
                <hr>
            </div>
            {% for article in pagination %}
                    <div class="col-lg-12 text-center">
                        {% if article.attached_file is not empty and 'pdf' not in article.attached_file %}
                            {% set image = asset('images/article/' ~ article.id ~ '/' ~ article.attached_file) %}
                        {% else %}
                            {% set image = asset('public/img/article.jpg') %}
                        {% endif %}
                        <img class="img-responsive img-border img-full" src="{{ image }}" alt="">
                        <h2>{{ article.title }}
                            <br>
                            <small>{{ article.created_at | date("m/d/Y") }}</small>
                        </h2>
                        <p>{{ article.description }}</p>
                        <a href="{{ path('article_show', { 'id': article.id }) }}" class="btn btn-default btn-lg">Lire +</a>
                        <hr>
                    </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}