{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MES ARTICLES</h1>

    <table class="records_list table table-bordered table-hover">
        <thead>
            <tr>
                <th>Blog</th>
                <th>Title</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Pièce jointe</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% for article in entity.articles %}
            <tr>
                {% if (article.active == 1) %} 
                <td><a href="{{ path('blog_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.body }}</td>
                <td>{{ article.attachedFile }}</td>
                <td>{% if article.createdAt %}{{ article.createdAt|date('d-m-Y') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('article_show', { 'id':article.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'id':article.id }) }}">Modifier</a>
                    </li>
                    <li>
                        <a href="{{ path('article_delete', { 'id':article.id }) }}">Supprimer</a>
                    </li>
                </ul>
                </td>
            {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('article_new') }}">
                Créer un article
            </a>
        </li>
    </ul>
    {% endblock %}
