{% extends '::base.html.twig' %}

{% block banner %}
    <div class="brand">{{ entity.blog.name }}</div>
    <div class="address-bar">decsription</div>
{% endblock %}
{% block body -%}
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">{{ entity.title }}</h2>
        <hr>
    </div>
    <div class="col-lg-12 text-center">
        <img class="img-responsive img-border img-full" src="{{ asset(entity | file) }}" alt="">
        <h5>{{ entity.description }}
            <br>
            <small>{{ entity.createdAt | date("d/m/Y") }}</small>
        </h5>
        <p>{{ entity.body }}</p>
        {% if entity | file(true) == false %}
            <a href="{{ asset('images/article/' ~ entity.id ~ '/' ~ entity.attachedFile) }}" target="_blank" title="">{{ entity.attachedFile }}</a>
        {% endif %}
        {% if entity.blog.user.id == app.user.id %}
            <a href="{{ path('article_edit', { 'id': entity.id }) }}" class="btn btn-default btn-lg">Modifier</a>
        {% endif %}
    </div>    
    <div>
        <h3>Commentaires</h3>
        {% for comment in entity.comments %}
            {% if comment.active == 1 %}
                <h6><a href="{{ path('user_profile', { 'id': comment.user.id }) }}" title="">{{ comment.user.username }}</a> : {{ comment.body }}
                    <br>
                    <small>{{ comment.createdAt | date("d/m/Y") }}</small>
                </h6>
                {% if comment.user.id == app.user.id %}
                    <a href="{{ path('comment_delete', { 'id': comment.id }) }}" title="">Supprimer</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <h4>Laissez un commentaire</h4>
        <a href="{{ path('comment_create', { 'id': entity.id }) }}" class="btn btn-default btn-lg">Commenter</a>
    </div>
{% endblock %}
