{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mes Catégories</h1>

    <table class="records_list table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                    <li>
                        <a href="{{ path('category_delete', { 'id': entity.id }) }}">Supprimer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('category_new') }}">
                Créer une catégorie
            </a>
        </li>
    </ul>
    {% endblock %}
